{% extends 'base.html' %}

{% block main %}

<h2>Accessibility on Neural Reckoning site</h2>

<p>
    We want as many people as possible to be able to use this website. For example, that means you should be able to:
</p>

<ul>
    <li>
        Display all content on the page regardless of screen size (responsive design).
    </li>
    <li>
        Skip to main content links.
    </li>
    <li>
        Resize text.
    </li>
</ul>

<p>
    <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have
    a disability.
</p>

<h3>How accessible the website is</h3>

<p>
    The majority of this webpage is accessible, except that some colours do not meet recommended contrast ratios. To
    work around this issue, you can use the high contrast or colour override features available in your web browser.
</p>

<h3>What we do about known issues</h3>

<p>
    We work to achieve and maintain WCAG 2.1 AA standards, but it is not always possible for all our content to be
    accessible. Where content is not accessible, we will state a reason, warn users and offer alternatives.
</p>

<h3>Technical information about this website’s accessibility</h3>

<p>
    Imperial College London is committed to making its website accessible in accordance with the Public Sector Bodies
    (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
</p>

<p>
    This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility
    Guidelines version 2.1</a> AA standard, due to the known issues listed below.
</p>

<h3>Non accessible content</h3>

<p>
    The entire site does not fully meet accessibility standards for the reasons indicated in the following section
    (colour contrast).
</p>

<h3>Non compliance with the accessibility regulations</h3>

<p>
    Some text does not quite reach the recommended colour contrast ratio due to the use of the CDN version of the
    Bootstrap 4 framework.
</p>

<h3>Reporting accessibility issues</h3>

<p>
    If you need information on this website in a different format like accessible PDF, large print, easy read, audio
    recording or braille or if you find any accessibility issues not listed on this page then please contact
    <a href="mailto:accessibility@imperial.ac.uk">accessibility@imperial.ac.uk</a>.
</p>

<p>
    The expected response time should be no more than a week.
</p>

<h3>Enforcement procedure</h3>

<p>
    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and
    Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy
    with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality
    Advisory and Support Service (EASS)</a>.
</p>

<h3>Last updated</h3>

<p>
    This statement was prepared on 04/09/20. It was last updated on 04/09/20.
</p>

{% endblock %}
