{% extends 'base.html' %}
{% import 'publication_list_macro.html' as publist with context %}
{% import 'video_list_macro.html' as vidlist with context %}
{% import 'related_list_macro.html' as relist with context %}

{% block title %}Neural Reckoning Group{% endblock %}

{% block main %}

<div class="row">
    <div class="col-lg-4 d-none d-lg-block order-lg-12">
        <h4 class="pb-1">Latest from Bluesky</h4>
        <!-- <bsky-embed username="neural-reckoning.org" limit="5" load-more="true" custom-styles="img.rounded-full { display: none; } .flex > div { max-width: 100%; } .whitespace-pre-wrap { word-wrap: break-word;}"></bsky-embed> -->
        <bsky-embed feed="at://did:plc:niqde7rkzo7ua3scet2rzyt7/app.bsky.feed.generator/aaapwwkijnxlq" limit="5" load-more="true" custom-styles="img.rounded-full { display: none; } .flex > div { max-width: 100%; } .whitespace-pre-wrap { word-wrap: break-word;}"></bsky-embed>
    </div>
    <div class="col-lg-8 order-lg-1">

        <div class="bg-light p-3 mb-3">
            <div id="membersCarousel" class="carousel slide auto" data-ride="carousel" data-interval="4000">
                <div class="carousel-inner">
                    {% for member in members | rejectattr('position', 'eq', 'former') | sort(attribute='author_names') | sort(attribute='dates') | sort(attribute='position_order') %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}" style="max-height: 100px;">
                            <a href="{{member.key}}.html">
                                {% if os.path.exists('files/photo_'+member.key+'.jpg') %}
                                    <img src="photo_{{member.key}}.m.circ.png" style="max-height: 100px; max-width: 100px;" class="float-left mr-3"/>
                                {% else %}
                                    <img src="portrait_placeholder.png" style="max-height: 100px; max-width: 100px;" class="float-left mr-3"/>
                                {% endif %}
                                <h4 class="pt-3 text-dark">{{ member.name }}</h4>
                                <div class="text-secondary">
                                    {{ member.short }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <p>
            The Neural Reckoning Group is led by
            <a href="dan_goodman.html">Dan Goodman</a> at
            <a href="http://www3.imperial.ac.uk/">Imperial College London</a>.
        </p>

        <p>
            We aim to find unifying principles underlying intelligent systems, including biological systems such as the brain and artificial systems.
            We use theoretical and computational approaches.
        </p>

        <p>
            We are particularly interested in <a href="publication_category_spiking.html">spiking neural networks</a>
            and the role they play in <a href="sensory.html">sensory processing</a>.
            <a href="publication_category_machinelearning.html">Machine learning</a> is essential to our
            work, as we believe that only by understanding how the brain copes with messy, real-world complexity can
            we hope to understand what makes it unique.
            A key part of our work is <a href="neuroinformatics.html">neuroinformatics</a>, building open source
            <a href="software.html">software packages</a> to make our methods freely available to all.
            For a brief overview of our interests, see the selection of papers, software and organisations below.
        </p>
        <p>
            A good place to start to get a feel for our current topics is <a href="https://braininspired.co/podcast/183/">Dan Goodman's Brain Inspired podcast interview</a>.
        </p>
        <p>
            We maintain a short list of <a href="comp-neuro-resources.html">resources for learning computational
            neuroscience</a> that might be useful to students and people new to the field.
        </p>

        <div class="row"><div class="col bg-light mt-3 mb-3 pt-2">
            <h2 class="pb-3">Recent publications</h2>
            {{ publist.recent_publications(5) }}
        </div></div>

        <div class="row"><div class="col bg-light mt-3 mb-3 pt-2">
            <h2 class="pb-3">Selected publications</h2>
            {{ publist.selected_publications() }}
        </div></div>

        <div class="row"><div class="col mt-3 mb-3 pt-2">
            <h2 class="pb-1 mb-3">Selected software packages</h2>
            {{ relist.card_list(software | selectattr('selected')) }}
        </div></div>

        <div class="row"><div class="col mt-3 mb-3 pt-2">
            <h2 class="pb-1 mb-3">Organisations</h2>
            {{ relist.card_list(organisations) }}
        </div></div>

        <div class="row"><div class="col mt-3 mb-3 pt-2">
            <h2 class="pb-1 mb-3">Latest video</h2>
            <p>See <a href="videos.html">more videos here</a>.</p>
            {{ vidlist.video_highlight(videos) }}
        </div></div>

    </div>
</div>

{% endblock %}
