{% extends 'base.html' %}
{% import 'publication_list_macro.html' as publist with context %}
{% import 'video_list_macro.html' as vidlist with context %}
{% import 'related_list_macro.html' as relist with context %}

{% block title %}Neural Reckoning Group{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-4 d-none d-sm-block order-sm-12">
        <a class="twitter-timeline" data-width="400" data-height="1000" data-show-replies="true"
           href="https://twitter.com/neuralreckoning?ref_src=twsrc%5Etfw">
            Tweets by neuralreckoning
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-sm-8 order-sm-1">

        <!-- <img class="img-fluid mb-3" src="group_photo.jpg" alt="Group photo"/> -->

        <div class="bg-light p-3 mb-3">
            {% set active_members = [] %}
            {% for position in positions_in_order %}
                {% if not grouped_members[position] %}{% continue %}{% endif %}
                {% for member in grouped_members[position] | sort(attribute='author_names') | sort(attribute='dates', reverse=(position=='former')) %}
                    {% if member.position!='former' %}
                        {% set _ = active_members.append(member) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div id="membersCarousel" class="carousel slide" date-ride="carousel" data-interval="5000">
                <div class="carousel-inner">
                    {% for member in active_members %}                    
                        <div class="carousel-item{% if loop.first %} active{% endif %}" style="max-height: 100px;">
                            <a href="{{member.key}}.html">
                                {% if os.path.exists('files/photo_'+member.key+'.jpg') %}
                                    <img src="photo_{{member.key}}.m.circ.png" style="max-height: 100px; max-width: 100px;" class="float-left mr-3"/>
                                {% else %}
                                    <img src="portrait_placeholder.png" style="max-height: 100px; max-width: 100px;" class="float-left mr-3"/>
                                {% endif %}
                            </a>
                            <h4 class="pt-3">{{ member.name }}</h4>
                            <div class="text-secondary">
                                {{ member.short }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- <a class="carousel-control-prev" href="#membersCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a> -->
                <a class="carousel-control-next" href="#membersCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>                    
            </div>
        </div>

        <p>
            The Neural Reckoning Group is led by
            <a href="dan_goodman.html">Dan Goodman</a> at
            <a href="http://www3.imperial.ac.uk/">Imperial College London</a>.
        </p>

        <p>
            We aim to understand the brain, and intelligent behaviour more widely, via theoretical and computational
            models.
        </p>

        <p>
            We are particularly interested in <a href="publication_category_spiking.html">spiking neural networks</a>
            and the role they play in <a href="sensory.html">sensory processing</a>.
            <a href="publication_category_machinelearning.html">Machine learning</a> is essential to our
            work, as we believe that only by understanding how the brain copes with messy, real-world complexity can
            we hope to understand what makes it unique.
            A key part of our work is <a href="neuroinformatics.html">neuroinformatics</a>, building open source
            <a href="software.html">software packages</a> to make our methods freely available to all.
            For a brief overview of our interests, see the selection of papers, software and organisations below.
        </p>
        <p>
            We maintain a short list of <a href="comp-neuro-resources.html">resources for learning computational
            neuroscience</a> that might be useful to students and people new to the field.
        </p>

        <div class="row"><div class="col bg-light mt-3 mb-3 pt-2">
            <h2 class="pb-3">Recent publications</h2>
            {{ publist.recent_publications(5) }}
        </div></div>

        <div class="row"><div class="col bg-light mt-3 mb-3 pt-2">
            <h2 class="pb-3">Selected publications</h2>
            {{ publist.selected_publications() }}
        </div></div>

        <div class="row"><div class="col mt-3 mb-3 pt-2">
            <h2 class="pb-1 mb-3">Selected software packages</h2>
            {{ relist.card_list(software | selectattr('selected')) }}
        </div></div>

        <div class="row"><div class="col mt-3 mb-3 pt-2">
            <h2 class="pb-1 mb-3">Organisations</h2>
            {{ relist.card_list(organisations) }}
        </div></div>

        <div class="row"><div class="col mt-3 mb-3 pt-2">
            <h2 class="pb-1 mb-3">Latest video</h2>
            <p>See <a href="videos.html">more videos here</a>.</p>
            {{ vidlist.video_highlight(videos) }}
        </div></div>

    </div>
</div>

{% endblock %}
