{% extends 'base.html' %}
{% import 'publication_list_macro.html' as publist with context %}

{% block title %}Neural Reckoning Group{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-4 d-none d-sm-block order-sm-12">
        <a class="twitter-timeline" data-width="400" data-height="1000" data-show-replies="true"
           href="https://twitter.com/neuralreckoning?ref_src=twsrc%5Etfw">
            Tweets by neuralreckoning
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-sm-8 order-sm-1">

        <img class="img-fluid mb-3" src="group_photo.jpg"/>

        <p>
            The Neural Reckoning Group is led by
            <a href="dan_goodman.html">Dan Goodman</a>. It is part of the
            <a href="http://www3.imperial.ac.uk/intellisysnetworks">Intelligent
            Systems and Networks group</a> in the
            <a href="http://www3.imperial.ac.uk/electricalengineering">Department
            of Electrical and Electronic Engineering</a> at
            <a href="http://www3.imperial.ac.uk/">Imperial College London</a>.
            <span class="d-sm-none">
                Follow us on Twitter <a href="https://twitter.com/neuralreckoning">@neuralreckoning</a>.
            </span>
        </p>

        <p>
            We aim to understand the brain, and intelligent behaviour more widely, via theoretical and computational
            models.
        </p>
        <p>
            We are particularly interested in <a href="sensory.html">sensory processing</a>, primarily
            the auditory system, where our goal is to understand how we make sense of complex, natural environments.
        </p>
        <p>
            One of the most striking operating principles of the brain is the use of highly connected, parallel networks
            of neurons communicating via precisely timed, discrete neural impulses (called "spikes"). This spike-based
            form of computation is specific to the brain, being radically different to conventional digital and analogue
            computation. We wish to uncover the principles underlying spike-based neuronal computation, both as a
            fundamental research problem and with an eye to wider applications in intelligent systems.
        </p>
        <p>
            Underlying much of our work is <a href="neuroinformatics.html">neuroinformatics</a>, or the
            application of computational methods in neuroscience. We are particularly interested in the simulation of
            spiking neural networks and the analysis of experimentally recorded spiking data
            (see <a href="software.html">Software</a>).
        </p>
        <p>
            You can see a complete list of our <a href="publications.html">publications</a>, take a look at some
            <a href="themes.html">visualisations of our research themes</a> or look at our recent and selected
            publications below.
        </p>
        <p>
            We maintain a short list of <a href="comp-neuro-resources.html">resources for learning computational
            neuroscience</a> that might be useful to students and people new to the field.
        </p>

        <div class="row"><div class="col bg-light mt-3 mb-3 pt-2">
            <h2>Recent publications</h2>
            {{ publist.recent_publications(5) }}
        </div></div>

        <div class="row"><div class="col bg-light mt-3 mb-3 pt-2">
            <h2>Selected publications</h2>
            {{ publist.selected_publications() }}
        </div></div>

    </div>
</div>

{% endblock %}
