{% extends 'base.html' %}

{% block main %}

<h2>Location</h2>

<p>
    My office is room 1001 on the 10th floor of the Electrical Engineering building.
    If you enter Imperial College through the main entrance on Exhibition Road,
    go through the entrance building until you emerge on to a courtyard. The EE
    building is directly in front of you. Take the lift up to the 10th floor and
    turn left.
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1540.7622263059684!2d-0.17551706426696206!3d51.49903964710657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x66f9f2d9fa2588a5!2sElectrical+Engineering!5e0!3m2!1sen!2suk!4v1464273549371" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<p>
    <img src="map.jpg" style="border: 1px solid black;"/>
</p>

{% endblock %}
