{% extends 'base.html' %}

{% block main %}

<h2>Lab members</h2>

{% for group in members | groupby('position') %}
    {% if member_types[group.grouper] %}
        <h3>{{member_types[group.grouper]}}</h3>
    {% endif %}
    {% for member in group.list %}
    <div class="row mb-3 align-items-center">
        <div style="flex: 0 0 125px;">
            <a href="{{member.id}}.html">
                {% if os.path.exists('files/photo_'+member.id+'.jpg') %}
                    <img src="photo_{{member.id}}.jpg" style="max-height: 100px; max-width: 100px;"/>
                {% else %}
                    <img src="portrait_placeholder.png" style="max-height: 100px; max-width: 100px;"/>
                {% endif %}
            </a>
        </div>
        <div style="flex: 0 0 125px;" class="d-none d-md-block">
            <a href="{{member.id}}.html">
                {% if os.path.exists('docs/wordcloud_'+member.id+'.png') %}
                    <img src="wordcloud_{{member.id}}.png" style="max-height: 100px; max-width: 100px;"/>
                {% endif %}
            </a>
        </div>
        <div class="col">
            <a href="{{member.id}}.html"><b>{{member.name}}</b></a> {% if hasattr(member, 'dates') %} <font color="#aaaaaa">({{ member.dates }})</font> {% endif %}<br/>
            {{ member.short }}
        </div>
    </div>
    {% endfor %}
{% endfor %}

{% endblock %}
