{% extends 'base.html' %}
{% import 'publication_list_macro.html' as publist with context %}

{% block main %}

<h2>Neuroinformatics</h2>

<div style="float: right; margin-left: 30px; width: 250px; font-size: 80%;">
<p>
<a href="calc105.jpg">
<img src="calc105.jpg" style="border: 1px solid black;" width="250px"/>
</a>
A Brunsviga hand cranked mechanical calculator as used by Hodgkin and Huxley
to compute numerically the solutions to their differential equations for the
action potential in the squid giant axon in 1952.
</p>
<p>
<a href="bluegenep.jpg">
<img src="bluegenep.jpg" style="border: 1px solid black;" width="250px"/>
</a>
A more recent 2007 IBM Blue Gene/P supercomputer used in the Blue Brain Project,
with thousands of processors. (Image credit:
<a href="http://en.wikipedia.org/wiki/Blue_Gene#mediaviewer/File:IBM_Blue_Gene_P_supercomputer.jpg">Wikipedia</a>.)
</p>
</div>

<p>
Neuroinformatics is concerned with developing computational techniques for
understanding the brain. Specifically, processing and analysing experimental
data, and simulating models. This work is becoming increasingly important
as neuroscientists study larger and more detailed systems, requiring
the use of high performance computational techniques which are not, as yet,
easily accessible for non-experts. Our research is about leveraging modern,
heterogeneous forms of computing such as GPUs, FPGAs, and the
<a href="http://apt.cs.manchester.ac.uk/projects/SpiNNaker/">SpiNNaker spiking
neural network supercomputer</a>, but making them accessible to neuroscience
researchers.
</p>

<p>
We currently work in two main areas of neuroinformatics with associated
<a href="software.html">software packages</a>: simulating spiking neural
networks (the <a href="http://briansimulator.org">Brian simulator</a>); and,
analysing data recorded from multi-channel electrodes in the brain
(<a href="http://klusta-team.github.io/">KlustaSuite</a>).
</p>

<p>
If you are interested in working on these types of problems, please see our
<a href="openings.html">openings page</a> and the list of suggested research
topics. See also the list of neuroinformatics publications below for an idea
of the sort of research we have done in this field in the past. 
</p>

<h3>Publications in neuroinformatics</h3>

{{ publist.grouped_publications(cat='Neuroinformatics') }}


{% endblock %}
