{% extends 'base.html' %}

{% block main %}

<h2>Join us</h2>

<h3>PhD</h3>

<p>
    I am interested in supervising students with a strong mathematical, computational or neuroscience
    background. Projects could be carried out in several possible areas relating to the
    <a href="index.html">work in the group</a>. You might be interested in doing some
    <a href="comp-neuro-resources.html">general reading on computational neuroscience</a>. Some suggestions for topics
    that would be interesting to me are below, but I'm very happy to consider
    other possibilities. 
    In addition to working within the group, studying at Imperial College provides excellent
    opportunities for interacting with other theoretical and experimental researchers, both at
    Imperial and in the many  neuroscience groups in London.
</p>

<p>
    <a class="btn btn-success" href="apply_phd.html">Apply for a PhD</a>
</p>

<p>
    <b>Supervision style.</b> It's important to select a PhD supervisor who you can work well with. My approach to
    PhD supervision is as follows. Students' projects are their own. I'm happy to make suggestions of things I find
    interesting and provide guidance, but I won't tell you exactly what to do. I would expect to see you on average
    around one hour per week, and this can either be at a regular time or arranged ad hoc. We have a weekly two hour
    lab meeting, lunch plus one hour doing either a journal club, tutorials, or presenting early stage research
    results for feedback. I would encourage you to get in touch with one of my current PhD students (see the list
    <a href="members.html">here</a>) to have an informal chat about life in the group and at Imperial.
</p>

<h3>Postdoctoral</h3>

<p>
I do not currently have any open postdoctoral positions, but please get in touch
if you are interested in applying for your own funding through a fellowship
scheme, for example. 
</p>

{% include "_topics.html" %}

{% endblock %}
