{% extends 'base.html' %}

{% block main %}

<h2>Openings</h2>

<h3>PhD</h3>

<p>
I am interested in supervising students with a strong mathematical, computational or neuroscience
background. Projects could be carried out in several possible areas relating to the
<a href="index.html">work in the group</a>. Some suggestions for topics
that would be interesting to me are below, but I'm very happy to consider
other possibilities. 
In addition to working within the group, studying at Imperial College provides excellent
opportunities for interacting with other theoretical and experimental researchers, both at
Imperial (recently ranked 8th in the world in the QS world university rankings) and in the many
neuroscience groups in London.
</p>

<p>
Applicants for a PhD position should initially
<a href="dan_goodman.html">send me</a> a brief CV and cover letter with
a description of research interests or a proposed project, and will eventually have to formally
apply through the standard Imperial College mechanism (for more information, see
<a href="http://www3.imperial.ac.uk/electricalengineering/courses/phd">here</a>).
There are several opportunities for funding which we can discuss if you are
offered a position.
Note that a masters degree is required for PhD study at Imperial: please see the
<a href="https://www.imperial.ac.uk/study/pg/apply/requirements/">PhD requirements</a> page
(and the <a href="https://www.imperial.ac.uk/study/pg/apply/requirements/pgacademic/">Country-specific
requirements</a>).
</p>

<p>
I am also interested in supervising PhD students in
<a href="neuroinformatics.html">neuroinformatics</a> as part of the
<a href="http://wp.doc.ic.ac.uk/hipeds/">HiPEDS CDT</a> (Centre for Doctoral
Training in High Performance Embedded and Distributed Systems). Note that
a masters degree is also required for entry.
</p>

<h3>Postdoctoral</h3>

<p>
I do not currently have any open postdoctoral positions, but please get in touch
if you are interested in applying for your own funding through a fellowship
scheme, for example. 
</p>

<h2>Suggested topics</h2>

<div>
<ul>
    <li>
        <b>Theory of spiking neurons.</b> How does the brain compute using
        spikes? Does this represent a new paradigm of computation that is
        substantially different from existing notions of digital and
        analogue computation? If so, what can it do better and how? Specific
        questions might look at the role of single cells versus networks,
        neural adaptation, and excitation/inhibition.
    </li>

    <li>
        <b>Auditory neuroscience</b>: I'm particularly interested in how
        the brain processes realistic auditory environments, where sound
        comes in a continuous stream, interesting signals can be both
        expected or unexpected, there can be multiple sound sources,
        background noise, etc. This could involve computational
        modelling or technological applications.
    </li>

    <li>
        <b>Spiking neural network simulation</b>. For example,
        running simulations on non-standard computational hardware,
        such as field-programmable gate arrays (FPGAs), graphics processing
        units (GPUs) and the
        <a href="http://apt.cs.manchester.ac.uk/projects/SpiNNaker/">SpiNNaker</a>
        spiking neural network supercomputer.
    </li>

    <li>
        <b>Analysing large scale neural data.</b>
        New experimental techniques are becoming available which provide several
        orders of magnitude more data than were previously available, but there is not yet
        agreement on methods for using this data to understand how the brain functions.
    </li>


</ul>
</div>

{% endblock %}
