{% extends 'base.html' %}
{% import 'related_list_macro.html' as relist with context %}

{% block main %}

<div class="row">
    <div class="col">

        <h2><a href="{{ url }}">{{ name }}</a></h2>

        {% if logo!="default_org.png" %}
        <div class="row pb-3">
            <div class="col-sm-4 order-sm-12">
                <img class="img-fluid" src="{{logo}}">
            </div>
            <div class="col-sm-8 order-sm-1">
                {{ long }}
            </div>
        </div>
        {% else %}
        <div class="pb-3">
            {{ long }}
        </div>
        {% endif %} 

        {{ relist.related_by_class(things, categories=categories) }}

    </div>
</div>

{% endblock %}
