{% extends 'base.html' %}
{% import 'authors_list_macro.html' as authmacro with context %}
{% import 'related_list_macro.html' as relist with context %}


{% block main %}

{% if bluesky_thread_html or explainer_html %}
<div class="row">
    <div class="col-lg-4 d-none d-lg-block order-lg-12">
        <div><!--</div> style="height: 90vh; overflow-y: scroll;">-->
            {{ bluesky_thread_html }}
            {% if explainer_html %}
            <div class="explainer_html smaller_text">
                <h5>The short version</h5>
                {{ explainer_html }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-8 order-lg-1">
{% endif %}

<h2>{{ title }}</h2>
{% if author_objects|length<=8 %}
    <div class="d-none d-sm-block">
        {{ authmacro.authors_list(author_objects) }}
    </div>
    <div class="d-block d-sm-none">
        {{ authors }}
    </div>
{% else %}
<div>{{ authors }}</div>
{% endif %}
{% if year!='Preprints' %}
<div>
    <i>{{ journal }}</i>
    {% if phd_thesis %}<i>PhD thesis, </i>{% endif %}
    <i>{{ publisher }}</i>
    <i>{{ conference }}</i>
    ({{ year }}) <font color="#aaaaaa">{{ additional }}</font>
    {% if book_editors %}
        <br/>
        In: {{book}}. {{book_editors}} (eds)
    {% endif %}
</div>
{% else %}
<div><i>Preprint</i></div>
{% endif %}
{% if doi %}
<div>
    <a href="http://dx.doi.org/{{doi}}" style="color: #aaaaaa">doi: {{doi}}</a>
</div>
{% endif %}
{% if additional_detail %}
<div>
    {{ additional_detail }}
</div>
{% endif %}
<div>&nbsp;</div>
{% if abstract %}
<h3>Abstract</h3>
<div>{{ abstract }}</div>
{% endif %}
{% if video_embed %}
<div>&nbsp;</div>
<div class="embed-responsive embed-responsive-16by9">
    {{video_embed}}
</div>
{% endif %}

{{ relist.related_by_class(things, categories=category_objects, urls=urls, exclude=['Person']) }}

{% if bluesky_thread_html or explainer_html %}
<!-- bootstrap only show div on small screens -->
<div class="d-block d-lg-none">
    <h3>The short version</h3>
    {{ bluesky_thread_html }}
    {% if explainer_html %}
    <div class="explainer_html">
        {{ explainer_html }}
    </div>
    {% endif %}
</div>
{% endif %}

{% endblock %}