{% macro li_publication(publication) %}
    <li{% if publication.conference %} class="{{collapse_conference_papers_default}} conference_paper"{% endif %} id="pub_{{publication.key}}">
        <div class="publication_list_text">
            {{publication.authors_short}}
                {% if publication.year!='Preprints' %}
                    ({{publication.year}})
                {% endif %}
                <br/>
            <a href="pub_{{publication.key}}.html">
                <b>{{publication.title}}.</b><br/>
            </a>
            <i>
                {% if publication.year=='Preprints' %}
                    Preprint
                {% endif %}
                {{publication.journal}}
                {% if publication.phd_thesis %}<i class="fa-solid fa-graduation-cap"></i>PhD thesis, {% endif %}
                {{publication.publisher}}
                {{publication.conference}}
            </i>
        </div>
        {% if publication.icons %}
            <div class="publication_list_icons">
                {{ publication.icons }}
            </div>
        {% endif %}
    </li>
{% endmacro %}

{% macro grouped_publications(publications) %}
    {% if collapse_conference_papers_default=='collapse' %}
        {% set not_collapse_conference_papers_default='show' %}
    {% else %}
        {% set not_collapse_conference_papers_default='collapse' %}
    {% endif %}
    <div class="publication_list">
    {% for group in publications | groupby('publication_list_year') | reverse %}
        <h5>{{group.grouper}}</h5>
        <ul>
        {% for publication in group.list | sort(attribute='key') | sort(attribute='sort_date', reverse=True) %}
            {{ li_publication(publication) }}
        {% endfor %}
        {% set num_conferences = group.list|selectattr('conference')|list|length %}
        {% if num_conferences>0 %}
        <li class="{{not_collapse_conference_papers_default}} conference_paper"><small>
            <a href="#" data-toggle="collapse" data-target=".conference_paper" role="button" id="check_show_hide_conf" aria-expanded="false">
                + {{ num_conferences }} conference paper{% if num_conferences>1 %}s{% endif %}
            </a>
        </small></li>
        {% endif %}
        </ul>
    {% endfor %}
    </div>
{% endmacro %}

{% macro selected_publications() %}
    <div class="publication_list">
    <ul>
    {% for publication in  publications | selectattr('selected') | selectattr('last_updated') | sort(attribute='last_updated', reverse=True) %}
        {{ li_publication(publication) }}
    {% endfor %}
    </ul>
    </div>
{% endmacro %}

{% macro recent_publications(n) %}
    <div class="publication_list">
    <ul>
    {% for publication in (publications|selectattr('last_updated')|sort(attribute='last_updated', reverse=True))[:n] %}
        {{ li_publication(publication) }}
    {% endfor %}
    </ul>
    </div>
{% endmacro %}

{% macro show_conference_papers() %}
    <!--<div class="form-check">
        <input class="form-check-input" type="checkbox" data-toggle="collapse" data-target=".conference_paper" role="button" id="check_show_hide_conf" aria-expanded="false">
        <label class="form-check-label" for="check_show_hide_conf">
            Show conference papers
        </label>
    </div>-->
{% endmacro %}

{% macro li_external_publication(pub) %}
    <li><div class="publication_list_text">
        {% if pub.authors %}
        {{ pub.authors }} ({{pub.date}})
        <br/>
        {% endif %}
        {% if pub.url %}<a href="{{pub.url}}">{% endif %}
        <b>{{pub.title}}</b>
        {% if pub.url %}</a>{% endif %}
        {% if pub.journal %}<br/><i>{{pub.journal}}</i>{% endif %}
    </div></li>
{% endmacro %}

{% macro external_publications(member) %}
    <div class="publication_list">
        {% for group in member.external_publications | groupby('date') | reverse %}
            <h5>{{group.grouper}}</h5>
            <ul>
            {% for publication in group.list %}
                {{ li_external_publication(publication) }}
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endmacro %}
