{% macro li_publication(publication) %}
    <li>{% if publication.conference %}<div class="{{collapse_conference_papers_default}} conference_paper">{% endif %}
    {{publication.authors_short}}
        {% if publication.year!='Preprints' %}
            ({{publication.year}})
        {% endif %}
        <br/>
    <a href="pub_{{publication.name}}.html">
        <b>{{publication.title}}.</b><br/>
    </a>
    <i>
        {{publication.journal}}
        {% if publication.phd_thesis %}PhD thesis, {% endif %}
        {{publication.publisher}}
        {{publication.conference}}
    </i>
    {% if publication.conference %}</div>{% endif %}</li>
{% endmacro %}

{% macro detailed_publication(publication) %}
    <h2>{{ publication.title }}</h2>
        {% if publication.author_names_and_ids|length<=8 %}
            <div class="d-none d-sm-block">
                <ul class="list-inline author-list">
                {% for (authname, authid) in publication.author_names_and_ids %}
                    <li>
                        {% if authid!='placeholder' %}
                        <a href="{{authid}}.html">
                        {% endif %}
                        <div><img src="photo_{{authid}}.s.circ.png"/></div>
                        <div>{{authname}}</div>
                        {% if authid!='placeholder' %}
                        </a>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="d-block d-sm-none">
                {{ publication.authors }}
            </div>
        {% else %}
        <div>{{ publication.authors }}</div>
        {% endif %}
    </div>
    <!--<div>{{ publication.authors }}</div>-->
    {% if publication.year!='Preprints' %}
        <div>
            <i>{{ publication.journal }}</i>
            {% if publication.phd_thesis %}<i>PhD thesis, </i>{% endif %}
            <i>{{ publication.publisher }}</i>
            <i>{{ publication.conference }}</i>
            ({{ publication.year }}) <font color="#aaaaaa">{{ publication.additional }}</font>
            {% if publication.book_editors %}
                <br/>
                In: {{publication.book}}. {{publication.book_editors}} (eds)
            {% endif %}
        </div>
    {% else %}
        <div><i>Preprint</i></div>
    {% endif %}
    {% if publication.doi %}
        <div>
            <a href="http://dx.doi.org/{{publication.doi}}" style="color: #aaaaaa">doi: {{publication.doi}}</a>
        </div>
    {% endif %}
    {% if publication.additional_detail %}
        <div>
            {{ publication.additional_detail }}
        </div>
    {% endif %}
    <div>&nbsp;</div>
    {% if hasattr(publication, 'abstract') %}
        <div><b>Abstract.</b> {{ publication.abstract }}</div>
    {% endif %}
    <div>&nbsp;</div>
    <p><b>Links:</b>
    {% for url_title, url in publication.urls %}
        <button type="button" class="btn btn-light"><a href="{{ url }}">{{ url_title }}</a></button>
    {% endfor %}
    </p>
    <p><b>Categories:</b>
    {% for catid in publication.category_ids | sort %}
        <button type="button" class="btn btn-light"><a href="publication_category_{{ catid }}.html">{{ category_id_names[catid] }}</a></button>
    {% endfor %}
    </p>
{% endmacro %}

{% macro grouped_publications(member=None, cat=None) %}
    {% if collapse_conference_papers_default=='collapse' %}
        {% set not_collapse_conference_papers_default='show' %}
    {% else %}
        {% set not_collapse_conference_papers_default='collapse' %}
    {% endif %}
    {% if member %}
    {% set publications = member_publications(member) %}
    {% endif %}
    {% if cat %}
    {% set publications = category_publications(category_id(cat)) %}
    {% endif %}
    <div class="publication_list">
    {% for group in publications | groupby('year') | reverse %}
        <h5>{{group.grouper}}</h5>
        <ul>
        {% for publication in group.list %}
            {{ li_publication(publication) }}
        {% endfor %}
        {% set num_conferences = group.list|selectattr('conference')|list|length %}
        {% if num_conferences>0 %}
        <li class="{{not_collapse_conference_papers_default}} conference_paper"><small>
            <a href="#" data-toggle="collapse" data-target=".conference_paper" role="button" id="check_show_hide_conf" aria-expanded="false">
                + {{ num_conferences }} conference paper{% if num_conferences>1 %}s{% endif %}
            </a>
        </small></li>
        {% endif %}
        </ul>
    {% endfor %}
    </div>
{% endmacro %}

{% macro selected_publications() %}
    <div class="publication_list">
    <ul>
    {% for publication in publications %}
        {% if hasattr(publication, 'selected') and publication.selected %}
            {{ li_publication(publication) }}
        {% endif %}
    {% endfor %}
    </ul>
    </div>
{% endmacro %}

{% macro recent_publications(n) %}
    <div class="publication_list">
    <ul>
    {% for publication in publications[:n] %}
        {{ li_publication(publication) }}
    {% endfor %}
    </ul>
    </div>
{% endmacro %}

{% macro show_conference_papers() %}
    <!--<div class="form-check">
        <input class="form-check-input" type="checkbox" data-toggle="collapse" data-target=".conference_paper" role="button" id="check_show_hide_conf" aria-expanded="false">
        <label class="form-check-label" for="check_show_hide_conf">
            Show conference papers
        </label>
    </div>-->
{% endmacro %}