{% macro li_publication(publication) %}
    <li>
    {{publication.authors_short}}
        {% if publication.year!='Preprints' %}
            ({{publication.year}})
        {% endif %}
        <br/>
    <a href="pub_{{publication.name}}.html">
        <b>{{publication.title}}.</b><br/>
    </a>
    <i>{{publication.journal}}</i> <font color="#aaaaaa">{{publication.additional}}</font>
    </li>
{% endmacro %}

{% macro detailed_publication(publication) %}
    <h2>{{ publication.title }}</h2>
    <div>{{ publication.authors }}</div>
    {% if publication.year!='Preprints' %}
        <div><i>{{ publication.journal }}</i> ({{ publication.year }}) {{ publication.additional }}</div>
    {% else %}
        <div><i>Preprint</i></div>
    {% endif %}
    <div>&nbsp;</div>
    {% if hasattr(publication, 'abstract') %}
        <div><b>Abstract.</b> {{ publication.abstract }}</div>
    {% endif %}
    <div>&nbsp;</div>
    <div><b>Links:</b>
    {% for url_title, url in publication.urls %}
        <a href="{{ url }}">{{ url_title }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    </div>
    <div>&nbsp;</div>
    <div><b>Categories:</b>
    {% for catid in publication.category_ids | sort %}
        <a href="publication_category_{{ catid }}.html">{{ category_id_names[catid] }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    </div>
{% endmacro %}

{% macro grouped_publications(member=None, cat=None) %}
    {% if member %}
    {% set publications = member_publications(member) %}
    {% endif %}
    {% if cat %}
    {% set publications = category_publications(category_id(cat)) %}
    {% endif %}
    <div class="publication_list">
    {% for group in publications | groupby('year') | reverse %}
        <h5>{{group.grouper}}</h5>
        <ul>
        {% for publication in group.list %}
            {{ li_publication(publication) }}
        {% endfor %}
        </ul>
    {% endfor %}
    </div>
{% endmacro %}

{% macro selected_publications() %}
    <div class="publication_list">
    <ul>
    {% for publication in publications %}
        {% if hasattr(publication, 'selected') and publication.selected %}
            {{ li_publication(publication) }}
        {% endif %}
    {% endfor %}
    </ul>
    </div>
{% endmacro %}

{% macro recent_publications(n) %}
    <div class="publication_list">
    <ul>
    {% for publication in publications[:n] %}
        {{ li_publication(publication) }}
    {% endfor %}
    </ul>
    </div>
{% endmacro %}