{% extends 'base.html' %}
{% import 'category_macro.html' as catmacro with context %}
{% import 'authors_list_macro.html' as authmacro with context %}

{% block main %}

<h2><a href="{{url}}">{{title}}</a></h2>

<div class="row">
    <div class="col-sm-4 order-sm-12">
        <img class="img-fluid" src="{{logo}}">
    </div>
    <div class="col-sm-8 order-sm-1">
        {{long}}
    </div>
</div>

<div class="row">
    <div class="col">

        <h3>Links</h3>
        <p>
            {% for url_title, url in urls %}<button type="button" class="btn btn-light" style="margin: 2px;"><a href="{{ url }}">{{ url_title }}</a></button>{% endfor %}
        </p>

        <h3>Neural Reckoning team members</h3>
        <p>Note that this list does not include external team members.</p>
        {{ authmacro.authors_list(author_objects) }}

        <h3>Categories</h3>
        <p>
            {{ catmacro.category_buttons(category_objects) }}
        </p>

    </div>
</div>

{% endblock %}
