{% extends 'base.html' %}
{% if member.id!="dan_goodman" %}
    {% set collapse_conference_papers_default = "show" %}
{% else %}
    {% set collapse_conference_papers_default = "collapse" %}
{% endif %}
{% import 'publication_list_macro.html' as publist with context %}

{% block main %}

<h2>{{ member.name }}</h2>

{% if os.path.exists('files/photo_'+member.id+'.jpg') %}
{% set photo_filename = 'photo_'+member.id+'.jpg' %}
{% else %}
{% set photo_filename = 'portrait_placeholder.png' %}
{% endif %}

<div class="row">
    <div class="col-sm-4 order-sm-12">
        <img src="{{photo_filename}}" class="img-fluid mb-3" style="width: 200px; max-width: 100%;">
        {% if hasattr(member, 'email') %}
            <div>
                <img class="img-fluid mb-3"
                     src="{{ generate_email(member.name, member.email, cached) }}"
                     style="height:1em; vertical-align: text-top;"/>
            </div>
        {% endif %}
        {% if hasattr(member, 'dates') %}
            <div>
                <font color="#aaaaaa">Lab member: {{ member.dates_string }}</font>
            </div>
        {% endif %}
        {% if hasattr(member, 'telephone') %}
            <div>
                {{ member.telephone }}
            </div>
        {% endif %}
        {% if hasattr(member, 'social_media') %}
            <div>
            {{ member.social_media }}
            </div>
        {% endif %}
        {% if os.path.exists('docs/wordcloud_'+member.id+'.png') %}
            <img src="wordcloud_{{member.id}}.png" class="img-fluid mb-3" style="max-width: 100%;">
        {% endif %}
        {% if hasattr(member, 'address') %}
            <div class="mb-3 mt-3" style="color: #aaaaaa;">
                {% for line in member.address.split('\n') if line.strip() %}
                {{ line }}<br/>
                {% endfor %}
            </div>
        {% endif %}
        {% if hasattr(member, 'twitter') %}
            <div class="d-none d-sm-block">
                <a class="twitter-timeline" data-width="400" data-height="1000" data-show-replies="true"
                href="https://twitter.com/{{member.twitter}}">
                    Tweets by {{member.twitter}}
                </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        {% endif %}
        

    </div>
    <div class="col-sm-8 order-sm-1">
        <div>
        {{ member.long }}
        </div>

        {% if member.show_publications and member_publications(member) %}
        <h2>Publications</h2>

        {% if member.id!="dan_goodman" %}
            <p>Note that only publications as part of the Neural Reckoning group are included here{% if member.external_publications %} (see <a href="#external_publications">external publications below</a> for full list){% endif %}.</p>
        {% else %}
            {% set collapse_conference_papers_default = "collapse" %}
            {{ publist.show_conference_papers() }}
        {% endif %}

        {{ publist.grouped_publications(member) }}
        {% endif %}

        {% if member.external_publications %}
        <h2 id="external_publications">External publications</h2>
        <p>
            This is a short preview of the publications from other sources (<a href="https://orcid.org/">ORCID</a>,
            <a href="https://www.semanticscholar.org/">Semantic Scholar</a>).
            {% if member.id!="dan_goodman" %}
            Note that publications from work done outside the Neural Reckoning group are included in this list.
            {% endif %}
        </p>

        {{ publist.external_publications(member) }}

        {% endif %}

        {% if hasattr(member, 'software') %}
        <h2>Software packages</h2>
        <div class="row flex-row flex-nowrap" style="overflow-x: auto;">
            {% for sw in member.software %}
            <div class="col-6 col-md-4 p-2" style="width: 500px;">
                <a href="sw_{{sw.name}}.html">
                    <img class="img-fluid" src="{{sw.logo}}" style="max-height: 100px;">
                    <h5>{{sw.title}}</h5>
                </a>
                <p>{{sw.short}}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>
</div>

{% endblock %}
