{% extends 'base.html' %}
{% import 'publication_list_macro.html' as publist with context %}

{% block main %}

{% if hasattr(publication, 'twitter_thread') %}
<div class="row">
    <div class="col-lg-4 d-none d-lg-block order-lg-12">
        <div style="height: 80vh; overflow-y: scroll;">
            {{ publication.twitter_thread }}
        </div>
    </div>
    <div class="col-lg-8 order-lg-1">
{% endif %}

{{ publist.detailed_publication(publication) }}

{% if hasattr(publication, 'twitter_thread') %}
    </div>
</div>
{% endif %}

{% endblock %}
