{% macro software_card_list(software) %}
<div class="d-flex flex-row flex-nowrap" style="overflow-x: auto;">
    {% for sw in software | sort(attribute='key') | sort(attribute='thing_count', reverse=True) %}
    <div class="card col-5 col-md-4 p-1 border-0">
        <div class="card-header bg-transparent border-0" style="height: 100px; background-image: url('{{sw.logo}}'); background-size: contain; background-repeat: no-repeat; background-position: center bottom;">
        </div>
        <div class="card-body p-1 border-0 text-center">
            <h5 class="card-title"><a href="sw_{{sw.key}}.html">{{sw.title}}</a></h5>
            <p class="card-text">{{sw.short}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}