{% extends 'base.html' %}
{% import 'category_macro.html' as catmacro with context %}
{% import 'authors_list_macro.html' as authmacro with context %}
{% import 'publication_list_macro.html' as publist with context %}
{% import 'software_list_macro.html' as swmacro with context %}

{% block main %}

<div class="row">
    <div class="col">

        <h2><a href="{{ url }}">{{ name }}</a></h2>

        <p>
            {{ long }}
        </p>

        {{ embed }}

        {% if things['Person'] %}
        <h3>Related people</h3>
        {{ authmacro.authors_list(things['Person']) }}
        {% endif %}

        {% if things['Paper'] %}
        <h3>Related publications</h3>
        {{ publist.grouped_publications(things['Paper']) }}
        {% endif %}

        {% if things['Software'] %}
        <h3>Related software</h3>
        {{ swmacro.software_card_list(things['Software']) }}
        {% endif %}

        {% if category_objects %}
        <h3>Categories</h3>
        <p>
            {{ catmacro.category_buttons(category_objects) }}
        </p>
        {% endif %}

    </div>
</div>

{% endblock %}
