{% macro external_publications(member) %}
    <div class="external_publication_list">
        {% for group in member.external_publications | groupby('date') | reverse %}
            <h5 class="grouping-header">{{group.grouper}}</h5>
            <ul class="list-group">
            {% for pub in group.list %}
                <li class="list-group-item">
                    {% if pub.authors %}
                    {{ pub.authors }} ({{pub.date}})
                    <br/>
                    {% endif %}
                    {% if pub.url %}<a href="{{pub.url}}">{% endif %}
                    <b>{{pub.title}}</b>
                    {% if pub.url %}</a>{% endif %}
                    {% if pub.journal %}<br/><i>{{pub.journal}}</i>{% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endmacro %}
