{% import 'utils/lists.html' as listmacro with context %}

{% macro related_by_class(things, categories=None, urls=None, classes=None, exclude=[], h=3, person_page=False) %}
    {% if not classes %}
        {% set classes=['Person', 'Organisation', 'Software', 'Video', 'Talk', 'Paper'] %}
    {% endif %}
    {% if urls %}
        <h3 class="pt-3">Links</h3>
        <p>
            {% for url_title, url in urls %}<button type="button" class="btn btn-light" style="margin: 2px;"><a href="{{ url }}">{{ url_title }}</a></button>{% endfor %}
        </p>
    {% endif %}
    {% for cls in classes %}
        {% if cls not in things or cls in exclude or not things[cls] %}
            {% continue %}
        {% endif %}
        {% set header = {'Software': 'Software', 'Person': 'People', 'Organisation': 'Organisations', 'Video': 'Videos', 'Talk': 'Talks', 'Paper': 'Publications'}[cls] %}
        {% if not person_page %}
        {% set header = "Related "+header.lower() %}
        {% endif %}
        <h{{h}} class="collapse-toggle pt-5 pb-3" data-toggle="collapse" data-target="#related{{cls}}" aria-expanded="false" aria-controls="related{{cls}}">{{ header }}</h{{h}}>
        <div class="collapse" id="related{{cls}}">
            {% if cls=="Software" %}
                {{ listmacro.card_list(things[cls]|sort(attribute='key')) }}
            {% elif cls=="Organisation" %}
                {{ listmacro.card_list(things[cls]|sort(attribute='key'), false) }}
            {% elif cls=="Video" %}
                {{ listmacro.flat_list(things['Video'], feature_first=True) }}
            {% elif cls=="Talk" %}
                {{ listmacro.flat_list(things['Talk']) }}
            {% elif cls=="Person" %}
                {{ listmacro.authors_list(things['Person']|sort(attribute='name')) }}
            {% elif cls=="Paper" %}
                {{ listmacro.grouped_list(things['Paper'], 'publication_list_year') }}
            {% endif %}
        </div>
    {% endfor %}
    {% if categories %}
    <h{{h}} class="pt-3">Categories</h{{h}}>
    <p>
        {% for cat in category_objects | sort(attribute='key') %}<button type="button" class="btn btn-light" style="margin: 2px;"><a href="publication_category_{{ cat.key }}.html">{{ cat.name }}</a></button>{% endfor %}
    </p>
    {% endif %}
{% endmacro %}