.publication_list li
{
    list-style-type: none;
    text-indent: -2em;
    margin-bottom: 0.5em;
}

.publication_list li a
{
    text-decoration: none;
}

.miniboxed
{
    border-color: #999999;
    margin-bottom: 2rem;
}