.publication_list li
{
    list-style-type: none;
    text-indent: -2em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

.publication_list_text
{
    flex: 1 1 auto;
}

.publication_list_icons
{
    flex: 0 1 auto;
    text-indent: 0px;
    font-size: 150%;
    padding-left: 5px;
    text-align: right;
}

.publication_list li a
{
    text-decoration: none;
}

.miniboxed
{
    border-color: #999999;
    margin-bottom: 2rem;
}

.author-list li
{
    display: inline-block;
    text-align: center;
    padding-right: 1em;
}