body
{
text-align: justify;
background-color: white;
color: black;
/*font-size: 0.9em;*/
margin: 10px 30px 30px 30px;
font-family: Arial, sans-serif;
}

div, p
{
    font-family: Arial, sans-serif;
    text-align: justify;
}

li
{
margin-bottom: 1em;
}

.banner
{
margin-bottom: 10px;
}

.banner table, td
{
border: none;
border-collapse: collapse;
padding: 0;
margin: 0;
}

.navigation
{
color: white;
text-decoration: none;
font-variant: small-caps;
text-align: center;
}

.navigation a
{
color: white;
text-decoration: none;
font-variant: small-caps;
text-align: center;
}

.navigation div
{
background-color: #0c7c3e;
text-align: center;
width: 175px;
float:left;
margin-right: 1px;
margin-top: 1px;
}

#currentpage
{
background-color: #2a6e8e;
}

.clr
{
clear:both;
}

.main
{
//width: 1050px;
//height: 750px;
border: medium #2a6e8e solid;
//border-top-width:10px;
padding: 30px;
}

.list
{
margin-left: 20px;
}

.publication_list li
{
    list-style-type: none;
    text-indent: -2em;
    margin-bottom: 0.5em;
}

.publication_list li a
{
    text-decoration: none;
}

.member_list table
{
    border-spacing: 5px 20px;
}

h1
{
font-size: 1.8em;
}

h2
{
font-size: 1.4em;
font-variant: small-caps;
}

h3
{
font-size: 1.1em;
font-variant: small-caps;
}

p
{
/*text-indent: 20px;*/
}

a
{
color: #2a6e8e;
}

strong /*for the journals*/
{
/*text-decoration: none; /*not underline;*/
font-style: normal; /*not italic*/
font-weight: bold; /*not normal*/
}

undl
{
text-decoration: underline;
}

.FloatingImage
{
float: left;
margin-right: 20px;
}

.FloatingImageRight
{
float: right;
margin-left: 30px;
}

.FloatingImageRightBorder
{
float: right;
margin-left: 30px;
border: 1px solid black;
}

.HiddenLink
{
text-decoration: none; /*not underline;*/
color: black;
}

.HiddenLink:hover
{
text-decoration: underline;
color: #2a6e8e;
}

.ContactDetails
{
    width: 50%;
    font-size: 80%;
}

.ContactDetails td
{
    width: 50%;
    vertical-align: top;
}

.ContactDetailsLeft div
{
    margin-bottom: 0.3em;
}

.software_list
{
    border-collapse: collapse;
}
.software_list td
{
    border-bottom: 2px solid #dddddd;
    padding: 20px 40px 20px 0px;
}
.software_list td:last-child
{
    padding-right: 0px;
}